
<strong><h1 class="my-3 p-2 bg-dark text-light p-3 rounded">Veja as nossas ofertas da <h1 class="text-danger">Black Friday Natal</h1><h6>(por tempo limitado)</h6></h1></strong> <!--Titulo da página de Black Friday-->

<br>
<br>

<div class="row mt-3 ml-2">

  <div class="col md-3"><!--Mortal Kombat 11-->
    <app-card-produto
      foto='assets/img/Jogo_MK.jpg'
      nomeProduto="Mortal Kombat 11"
      [idProduto]="3"
      lancamento="2019-04-22"
      [precoProduto]="99.99"
      plataformas="Windows, Xbox Series X, Xbox One, PS4, PS5"
      [quantidadeMF]="30">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Street Fighter V-->
    <app-card-produto
      foto='assets/img/Jogo_SFV.jpg'
      nomeProduto="Street Fighter V"
      [idProduto]="2"
      lancamento="2016-02-16"
      [precoProduto]="39.99"
      plataformas="Windows, Xbox One, PS4"
      [quantidadeMF]="60">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Assassin's Creed Origins-->
    <app-card-produto
      foto='assets/img/Jogo_ACO.jpg'
      nomeProduto="Assassin's Creed Origins"
      [idProduto]="6"
      lancamento="2017-10-27"
      [precoProduto]="89.99"
      plataformas="Windows, Xbox One, PS4"
      [quantidadeMF]="70">
    </app-card-produto>
  </div>

</div><!--Fim da row da primeira linha de Jogos em promoção-->

<div class="row mt-3 ml-2">

  <div class="col md-3"><!--Far Cry 4-->
    <app-card-produto
      foto='assets/img/Jogo_F4.jpg'
      nomeProduto="Far Cry 4"
      [idProduto]="11"
      lancamento="2014-11-18"
      [precoProduto]="45.00"
      plataformas="Windows, Xbox One, Xbox 360, PS4, PS3"
      [quantidadeMF]="30">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Overwatch-->
    <app-card-produto
      foto='assets/img/Jogo_O.jpg'
      nomeProduto="Overwatch"
      [idProduto]="10"
      lancamento="2016-05-03"
      [precoProduto]="50.00"
      plataformas="Windows, Xbox One, PS4"
      [quantidadeMF]="65">
    </app-card-produto>
  </div>

  <div class="col md-3"><!--Call of Duty Cold War-->
    <app-card-produto
      foto='assets/img/Jogo_CODCW.jpg'
      nomeProduto="Call of Duty Cold War"
      [idProduto]="12"
      lancamento="2020-11-23"
      [precoProduto]="180.00"
      plataformas="Windows, Xbox Series X, Xbox One, PS4, PS5"
      [quantidadeMF]="120">
    </app-card-produto>
  </div>

</div><!--Fim da row da segunda linha de Jogos em promoção-->

<br>
<br>
<br>
<br>






