<h1 class="my-3 text-light"><!--Titulo da tela de compra-->
  Seu Carrinho
</h1>

<hr>

<div class="card border-0 shadow">

  <table class="table table-responsive table-striped "><!--Tabela para simulação de compra de um jogo-->

    <thead class="bg-dark text-light">
      <tr>

        <th></th>
        <th>Item</th>
        <th>Valor</th>
        <th>Quantidade</th>
        <th>Total</th>
        <th>Ações</th>

      </tr>
    </thead><!--Fim do head da tabela-->

    <tbody>
      <tr>

        <td>1</td>
        <td>Call of Duty Vanguard</td>
        <td>R$ 249,99</td>
        <td>1</td>
        <td>R$ 249,99</td>
        <td>
          <button class="btn btn-danger ml-2">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
          </button>
        </td>

      </tr>
    </tbody><!--Fim do body da tabela-->

    <tfoot class="bg-secondary text-light">

      <th>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 p-2" type="search" placeholder="CÓDIGO" aria-label="Search">
        </form>
      </th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <div class="m-2">Total: R$ 249,99</div>
      </th>
      <th>
        <button class="btn btn-success ">
          <i class="fa fa-shopping-cart" aria-hidden="true"><strong>  Finalizar a Compra</strong></i>
        </button>
      </th>

    </tfoot><!--Fim do foot da tabela-->

  </table><!--Fim da tabela-->
</div><!--Fim do card-->

<br><!--Br para exibir a imagem completamente na tela-->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
