
<h1 class="text-warning my-3">Sobre KJogos</h1>
<hr>
<br>

<div class="card" style="height: 45em;">
  <div class="card-body bg-dark text-light rounded">

    <br>

    <h4>
      Fundada em 2021, a KJogos com objetivo de trazer os melhores jogos tanto digitais, como midia física e com os melhores preços.
      Desde a sua criação a nossa equipe tem o foco de ser uma loja totalmente digital e atender todo o Brasil.
      <br>
      <br>
      Atualmente a nossa equipe tem trazido uma melhor eficiência e um nível 100% de satisfação dos consumidores.
    </h4>

    <br>
    <br>
    <br>

    <h3>
      Quais cidades a nossa empresa atende ?
    </h3>
    <br>
    <h4>
      Nossa empresa atende atualmente São Paulo, Rio de Janeiro, Minas Gerais e Espírito Santo.
      Mas ao decorrer do tempo nossa empresa atuará no Brasil todo.
    </h4>

  </div>
</div>
<br>
